{{- define "content" }}

TARGET TYPE: {{.Target.Type}}
{{- if eq .Target.Type "function" }}
TARGET FUNCTION: {{.Target.Name}}
{{- else if eq .Target.Type "file" }}
TARGET FILE: {{.Target.Name}}
{{- end }}

Instructions:

{{ if eq .Target.Type "file" -}}
Edit the TARGET FILE in TARGET BODY according the USER REQUEST:
{{ else if eq .Target.Type "function" -}}
Edit the TARGET FUNCTION in TARGET BODY according the USER REQUEST:
{{ end -}}

{{- end }}
